.icon-face= fa_icon 'mail'
.container-faces
  = form_tag welcome_contact_path, id: 'form-contact' do
    = invisible_captcha :subtitle, :topic
    .row
      = field(:name, t('welcome.faces.mail.name.title'), params[:na],
        params[:error] || t('welcome.faces.mail.name.placeholder'))
    .row
      = field(:email, t('welcome.faces.mail.email.title'), params[:em],
        params[:error] || t('welcome.faces.mail.email.placeholder'))
    .row
      = field(:subject, t('welcome.faces.mail.subject.title'), params[:su],
        params[:error] || t('welcome.faces.mail.subject.placeholder'))
    .row.textarea
      = textarea(:message, t('welcome.faces.mail.text.title'), params[:me])
    .row.last
      = submit_tag t('welcome.faces.mail.send')

%ul.vcard
  %li
    %strong VAILLANT Jeremy
  %li
    49 rue de lorient
  %li
    35000 Rennes
  %li
    = mail_to 'vaillant.jeremy@dev-crea.com', 'vaillant.jeremy[@]dev-crea.com'

