.icon-face= fa_icon 'user'
%p.container-faces
  = image_tag 'logo.png', class: 'dev-crea', alt: 'Logo Dev Crea'
  %strong
    = t('welcome.faces.my.describ')
  %br
  %br
  %br
  = t('welcome.faces.my.post')
  %br
  %br
  = t('welcome.faces.my.vision')
  %br
  %br
  = t('welcome.faces.my.conclusion')
  %br
  %br
  = link_to asset_url cv_link do
    = fa_icon 'pdf'
    = t('welcome.faces.my.download')
