.icon-face= fa_icon 'social'
.container-faces
  = social 'gitlab',
    'https://framagit.org/GRem'
  = social 'github',
    'https://github.com/Dev-Crea'
  = social 'mastodon',
    'https://mamot.fr/web/accounts/40730'
