.icon-face= fa_icon 'tech'
.container-faces
  = techno 'aws.svg', 'AWS'
  = techno 'docker.svg', 'Docker'
  = techno 'godot.svg', 'Godot'
  = techno 'git.svg', 'Git'
  = techno 'grafana.svg', 'Grafana'
  = techno 'kotlin.svg', 'Kotlin'
  = techno 'mongodb.svg', 'MongoDB'
  = techno 'packer.svg', 'Packer'
  = techno 'python.svg', 'Python'
  = techno 'rails.svg', 'Rails'
  = techno 'ruby.svg', 'Ruby'
  = techno 'terraform.svg', 'Terraform'
  = techno 'vuejs.svg', 'VueJS'
