.icon-face= fa_icon('work')
.container-faces
  = project_view 'openbd',
    'https://play.google.com/store/apps/details?id=gui.android.openbd'
  = project_view 'puzzlequest',
    'https://play.google.com/store/apps/details?id=org.godotengine.puzzlequest'
