- active = "#{face[5].code} #{face[0].content}"
- if face[5].code == 'front'
  - active << ' active'

%figure{ class: active }
  .containers-cube
    %div.languages
      = image_tag 'language.svg'
      = form_with url: welcome_index_path, method: :get do |form|
        = form.select :locale, options_for_select(selector_languages_data, define_locale)
        = form.submit t 'layout.language.send'
    %h2.title
      = t "welcome.faces.#{face[0].content}.title"
    = render "welcome/faces/#{face[0].content}"
    .show-buttons
      = buttons_cube(face[1].up, '&uarr;', 'top')
      = buttons_cube(face[3].right, '&rarr;', 'right')
      = buttons_cube(face[4].down, '&darr;', 'bottom')
      = buttons_cube(face[2].left, '&larr;', 'left')
