#body
  .container
    #cube{ class: "cube-show #{@face_show}" }
      - [Settings.faces.front, Settings.faces.back, Settings.faces.right,
        Settings.faces.left, Settings.faces.top,
        Settings.faces.bottom].each do |value|
        = render partial: 'faces', locals: { face: value }

#keys
  .row
    %h3 Aide à la navigation :
    %p Utilisez le clavier pour naviguer sur le cube.
  .row.keyboard
    .touch
      %span
    .touch
      %span.key Z / W
    .touch
      %span
  .row.keyboard
    .touch
      %span.key S
    .touch
      %span.key Q / A
    .touch
      %span.key D
