// cube.scss

// VARIABLES
$desktop: 750px;
$mobile: 749px;
$color-face: #D87204;
$color-keyboard: #C8C8C8;
$color-gray: #282522;
$color-black: #000000;
$color-white: #FFFFFF;
$color-bege: #CBBB9F;
$color-bege-light: #CCB897;

// FONTS
@font-face {
  font-family: JetBrainsMono;
  src: url(JetBrainsMono-ExtraLight.woff2);
}

// GENERIC
#cube {
  ul {
    list-style: none;
  }
  h2.title {
    right: 0px;
    border-bottom-left-radius: 150px 20px;
    margin: 0;
    padding: 15px;
  }
  .icon-face {
    bottom: 0px;
    left: 0px;
    margin: 0px;
    border-top-right-radius: 150px 20px;
  }
 .logo {
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    background: url(asset_path("back.png")) no-repeat;
    margin-left: 0px;
    display: inline-block;
    i {
      font-size: 50px;
      text-align: center;
      padding: 25px;
    }
    img {
      width: 60px;
      padding: 20px;
    }
  }
  .image-logo {
    height: 100px;
    width: 100px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
  }
  .row {
    margin-bottom: 15px;
  }
}
p.desc {
  margin-left: 15px;
  display: inline-block;
  width: 70%;
  vertical-align: middle;
  strong {
    display: block;
  }
}
.mail {
  ul {
    display: block;
    background-color: rgba($color-bege, 0.95);
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 25px;
    border-top-left-radius: 100px 150px;
    border-bottom-left-radius: 0px 150px;
    border: 1px solid black;
    border-right: none;
    border-bottom: none;
    position: absolute;
    right: 0px;
    bottom: 0px;
    text-align: right;
  }
  .prefix {
    left: 20px;
    background-color: rgba($color-bege, 0.95);
    text-align: center;
    padding: 5px 0px;
    border-radius: 3px;
    border: 1px solid $color-black;
  }
  .form {
    right: 20px;
    background-color: rgba($color-black, 0.05);
    border-radius: 0px;
    border: none;
    border-bottom: 1px dashed $color-bege-light;
  }
  .row {
    height: 50px;
  }
  .last {
    input[type=submit] {
      width: 100%;
      border: 1px solid $color-black;
      background-color: $color-bege;
      cursor: pointer;
    }
    input[type=submit]:hover {
      background-color: rgba($color-bege, 0.5);
    }
  }
}
.my p {
  text-align: justify;
  img {
    float: left;
    margin-right: 15px;
    margin-bottom: 5px;
  }
  a {
    color: black;
    text-decoration: none;
    font-style: italic;
  }
  a:hover {
    text-decoration: underline;
  }
}

html {
  background-color: $color-gray;
  font-family: JetBrainsMono;
}

body, html {
  padding: 0;
  height: 100%;
  margin: 0%;
}

h1 {
  display: none;
}

h2.title, .languages, .icon-face {
  position: absolute;
  background-color: rgba($color-bege, 0.95);
}

a {
  color: $color-black;
}

.languages {
  top: 0px;
  left: 0px;
  padding: 15px;
  margin: 0px;
  form {
    position: absolute;
    top: 10px;
    left: 42px;
    select {
      margin-left: 10px;
      height: 36px;
      position: absolute;
    }
    input[type=submit] {
      margin-left: 110px;
      height: 36px;
    }
  }
}

figure.work, figure.social {
  .container-faces {
    .row {
      background-color: rgba(0, 0, 0, 0.1);
      padding: 10px;
    }
    .title {
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      height: 100px;
      h3 {
        margin: 0;
      }
    }
  }
}

figure.tech .container-faces {
  text-align: center;
  .techno {
    margin: 15px;
    width: 100px;
    display: inline-block;
    .image {
      vertical-align: middle;
      display: table-cell;
    }
    .image {
      background-position: center center;
      background-repeat: no-repeat;
      background-image: asset-url('back.png');
    }
    .image:hover {
      animation-duration: 0.5s;
      animation-name: rotation;
    }
    .image, .image img {
      margin: 15px;
      width: 70px;
      height: 70px;
    }

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(360deg);
      }
    }
  }
}

// DESKTOP
@media only screen and (min-width: $desktop) {
  $carre: 700px;
  $valueZ: 350px;
  $face: calc(#{$carre} - 2px);
  $arrow-large: 48px;
  $arrow-small: 24px;
  $arrow-border: 30px;
  $carre-middle: calc(#{$carre} / 2 - #{$arrow-small});

  @mixin cube-create($deg, $y, $color) {
    background-color: $color;
    @if $y == "Y" {
      transform: rotateY($deg) translateZ($valueZ);
    } @else if $y == "X" {
      transform: rotateX($deg) translateZ($valueZ);
    }
  }

  @mixin cube-show($deg, $y) {
    @if $y == "Y" {
      transform: translateZ(-$valueZ) rotateY($deg);
    } @else if $y == "X" {
      transform: translateZ(-$valueZ) rotateX($deg);
    }
  }

  @mixin face-arrow($top, $left, $width, $height, $border-bottom-left, $border-bottom-right, $border-top-left, $border-top-right) {
    top: $top;
    left: $left;
    width: $width;
    height: $height;
    border-top-left-radius: $border-top-left;
    border-top-right-radius: $border-top-right;
    border-bottom-left-radius: $border-bottom-left;
    border-bottom-right-radius: $border-bottom-right;
    padding: 3px;

    i { line-height: $height; }
  }

  .container {
    width: $carre;
    height: $carre;
    position: relative;
    perspective: 1000px;
  }

  #cube {
    width: $carre;
    height: $carre;
    position: absolute;
    transform-style: preserve-3d;
    transform: translateZ( -100px );
    transition: transform 1s;

    figure {
      width: $face;
      height: $face;
      display: block;
      position: absolute;
      border: 2px solid $color-bege;
    }

    .front {background-color: $color-face; transform: translateZ($valueZ); }
    .back { @include cube-create(-180deg, "X", $color-face); }
    .right { @include cube-create(90deg, "Y", $color-face); }
    .left { @include cube-create(-90deg, "Y", $color-face); }
    .top { @include cube-create(90deg, "X", $color-face); }
    .bottom { @include cube-create(-90deg, "X", $color-face); }

    .buttons {
      position: absolute;
      display: block;
      text-align: center;
      cursor: pointer;
      background-color: rgba($color-black, 0.1);

      i {
        font-size: 1.4rem;
        vertical-align: middle;
        color: rgba(0,0,0,0.5);
      }

      i:hover {
        color: rgba(0,0,0,1);
      }

      .show-left, .show-right {
        vertical-align: middle;
        display: table-cell;
        height: 45px;
      }
    }

    .buttons:hover {
      background-color: rgba($color-black, 0.2);
    }

    .buttons.top-button {
      @include face-arrow(0, $carre-middle, $arrow-large, $arrow-small, $arrow-small, $arrow-small, 0, 0);
    }

    .buttons.right-button {
      @include face-arrow($carre-middle, calc(#{$carre} - #{$arrow-border}), $arrow-small, $arrow-large, $arrow-small, 0px, $arrow-small, 0px);
    }

    .buttons.bottom-button {
      @include face-arrow(calc(#{$carre} - #{$arrow-border}), $carre-middle, $arrow-large, $arrow-small, 0px, 0px, $arrow-small, $arrow-small);
    }

    .buttons.left-button {
      @include face-arrow($carre-middle, 0px, $arrow-small, $arrow-large, 0px, $arrow-small, 0px, $arrow-small);
    }
  }

  #cube.show-front { transform: translateZ(-$valueZ); }
  #cube.show-back { @include cube-show(-180deg, "X"); }
  #cube.show-right { @include cube-show(-90deg, "Y"); }
  #cube.show-left { @include cube-show(90deg, "Y"); }
  #cube.show-top { @include cube-show(-90deg, "X"); }
  #cube.show-bottom { @include cube-show(90deg, "X"); }

  .containers-cube {
    width: 70%;
    height: 70%;
    margin: auto;
    padding-top: 18%;
  }

  #cube {
    h2.title {
      top: 0px;
    }
   .icon-face {
      padding: 15px;
    }
    .tech {
      .containers-cube {
        width: 80%;
        height: 80%;
        padding-top: 10%;
      }
    }
    .social, .link {
      p {
        vertical-align: middle;
      }
      a.face-link {
        margin-left: 15px;
        text-decoration: none;
        font-weight: bold;
        color: black;
        font-size: x-large;
      }
      a.face-link:hover {
        text-decoration: underline;
      }
    }
  }
  #body {
    position: relative;
    width: 750px;
    margin: auto;
    padding-top: 2%;
  }

  #keys {
    bottom: 0px;
    left: 0px;
    position: absolute;
    padding-left: 5px;
    background-color: $color-bege;
    border-top-right-radius: 150px 20px;
    width: 300px;
    .row.keyboard {
      width: 80%;
      margin: auto;
    }
    h4 {
      margin: 3px 0 ;
    }
    p {
      font-style: italic;
      margin: 0;
    }
    .touch {
      min-width: 70px;
      min-height: 35px;
      display: inline-block;
      margin: auto;
    }
    .key {
      background-color: rgba($color-white, 0.5);
      color: #323232;
      height: 25px;
      line-height: 25px;
      width: 65px;
      text-shadow: 0px 0px 2px #FFF;
      box-shadow: 0px 0px 1px #FFF inset, 0px 0px 0.4em $color-keyboard inset, 0px 0.1em 0px #828282, 0px 0.11em 0px rgba(0,0,0,0.4), 0px 0.1em 0.11em rgba($color-black, 0.9);
      margin: auto;
      display: inline-block;
      font-size: large;
      text-align: center;
      border-radius: 0.3em;
      border: medium none;
    }
    .key:hover {
      background-color: rgba($color-white, 0.8);
    }
  }
  figure.social .container-faces {
    .row  {
      margin-bottom: 10px;
    }
    .row .describ {
      column-count: 2;
      height: 150px;
    }
  }
  .languages {
    width: 200px;
    border-bottom-right-radius: 150px 20px;
    form {
      input[type=submit] {
        margin-left: 110px;
      }
    }
  }
  .mail {
    .prefix {
      width: 25%;
      display: inline-block;
    }
    .form {
      width: 70%;
      display: inline-block;
    }
    .row.textarea {
      height: 160px;
      .prefix, .form {
        height: 150px;
        display: block;
      }
      .form {
        margin-top: -160px;
        float: left;
        margin-left: 25%;
      }
    }
  }
}

// PHONE
@media only screen and (max-width: $mobile) {
  #cube {
    background-color: $color-face;
    margin-top: 0px;
  }
  .buttons {
    display: none;
  }
  figure {
    width: 100%;
    display: block;
    margin: 0px;
    border-bottom: 1px dashed $color-bege-light;
    position: relative;
    &.mail {
      .container-faces {
        margin: 0 0 150px 0;
      }
    }
  }
  h2.title {
    width: 65%;
    float: right;
    text-align: center;
  }
  .icon-face {
    padding: 10px;
    position: absolute;
  }
  .container-faces {
    margin: 0 0 55px 0;
    padding: 85px 15px 15px 15px;
  }
  .row.last {
    margin-bottom: 55px;
  }
  .liste-demo {
    margin-bottom: 15px;
  }
  #keys {
    display: none;
  }
  .languages {
    display: none;
  }
  .active {
    h2.title {
      top: 71px;
    }
    .containers-cube {
      padding-top: 71px;
    }
    .languages {
      display: block;
      width: calc(100% - 30px);
      form {
        width: 80%;
        select {
          width: 50%;
        }
        input[type=submit] {
          margin-left: 70%;
        }
      }
    }
  }
  figure.social .title {
    width: calc(100% - 100px);
  }
  .mail {
    .prefix {
      width: 100%;
      display: block;
    }
    .form {
      width: 100%;
      display: block;
    }
    textarea {
      height: 100px;
    }
    .textarea {
      height: 150px;
    }
    .last {
      height: 25px;
    }
  }
}
