!!!
%html{ lang: define_locale }
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = favicon_link_tag 'favicon.png', type: 'image/png'
    = stylesheet_link_tag 'application', media: 'screen'
    = csrf_meta_tags
    %title
      = Settings.meta_site
  %body
    %section
      = yield
    = javascript_include_tag 'application'
