!!!
%html{ lang: 'fr' }
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    = favicon_link_tag 'favicon.png', type: 'image/png'
  %body
    %h1
      = t 'layout.contact.title'
    %p
      = t 'layout.contact.subject'
      = @subject
    %p
      = t 'layout.contact.name'
      = @name
    %p
      = t 'layout.contact.mail'
      = @email
    %p
      = @message
